.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-gvQcXRBmf);
  overflow: visible;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (max-width: 640px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__yqGkF {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 0;
  z-index: 2;
  right: 0;
  justify-self: flex-start;
  padding: 8px;
}
.menu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__a3Pcc {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px;
  margin: 0px;
}
.text__zQdJg {
  display: block;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 100%;
  color: #ffffff;
  width: auto;
  flex-grow: 0;
  text-align: center;
  box-shadow: none;
  filter: none;
  transform: none;
  height: auto;
  flex-shrink: 1;
  font-family: "ABC Diatype";
  padding: 0px;
}
@media (max-width: 640px) {
  .text__zQdJg {
    font-size: 51px;
    letter-spacing: -0.04em;
    padding-right: 20px;
  }
}
.text__bbwxv {
  display: block;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  color: #ffffff;
  width: auto;
  flex-grow: 0;
  text-align: center;
  box-shadow: none;
  filter: none;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  height: auto;
  flex-shrink: 1;
  font-family: "ABC Diatype Mono";
  letter-spacing: -0.02em;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__bbwxv {
    font-size: 51px;
    padding-left: 0px;
  }
}
.freeBox__riity {
  background: none;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 230px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__riity {
    height: 85vh;
    padding-top: 0px;
  }
}
.freeBox__zN7O3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 20px 20px 0px;
}
.text__rZeUa {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Mq_qSd0gm);
}
.freeBox__pBnt6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
.text__d4KoG {
  color: var(--token-Mq_qSd0gm);
  width: auto;
  text-align: left;
  font-size: 20px;
  font-family: "ABC Diatype";
  line-height: 21px;
  letter-spacing: 0.01em;
  padding: 10px;
}
@media (max-width: 640px) {
  .text__d4KoG {
    width: 100vw;
    font-size: 16px;
    color: var(--token-Mq_qSd0gm);
    line-height: 17px;
  }
}
.freeBox___0E0T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.freeBox___6NXyw {
  background: none;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 230px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox___6NXyw {
    height: 85vh;
    padding-top: 0px;
    left: auto;
    top: auto;
  }
}
.text___7Mndn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Mq_qSd0gm);
}
.freeBox__yRxYx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px 150px 0px 0px;
  margin: 0px;
}
.freeBox__sswZq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__cx6X8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__rwEuw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Mq_qSd0gm);
}
.text__g77Fq {
  color: var(--token-Mq_qSd0gm);
  text-align: left;
  font-size: 20px;
  font-family: "ABC Diatype";
  line-height: 21px;
  letter-spacing: 0.01em;
  width: auto;
  padding: 10px;
}
@media (max-width: 640px) {
  .text__g77Fq {
    width: 100vw;
    font-size: 16px;
    color: var(--token-Mq_qSd0gm);
    line-height: 17px;
  }
}
.freeBox__stMgr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.freeBox__x2Kt6 {
  background: none;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 230px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__x2Kt6 {
    height: 85vh;
    padding-top: 0px;
    left: auto;
    top: auto;
  }
}
.text___3QJkp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Mq_qSd0gm);
}
.freeBox__rAKm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px 150px 0px 0px;
  margin: 0px;
}
.freeBox__jgzIe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__oxN2I {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Mq_qSd0gm);
}
.text__xKaT9 {
  color: var(--token-Mq_qSd0gm);
  text-align: left;
  font-size: 20px;
  font-family: "ABC Diatype";
  line-height: 21px;
  letter-spacing: 0.01em;
  width: auto;
  padding: 10px;
}
@media (max-width: 640px) {
  .text__xKaT9 {
    width: 100vw;
    font-size: 16px;
    color: var(--token-Mq_qSd0gm);
    line-height: 17px;
  }
}
.freeBox___9MEaR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__npX8F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.freeBox__f2Edz {
  background: none;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 230px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__f2Edz {
    height: 85vh;
    padding-top: 0px;
    left: auto;
    top: auto;
  }
}
.text__j6Fm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Mq_qSd0gm);
}
.freeBox__sol6G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px 150px 0px 0px;
  margin: 0px;
}
.freeBox__uA18H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__jwSf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__fQyp0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Mq_qSd0gm);
}
.text__dc7Mh {
  color: var(--token-Mq_qSd0gm);
  text-align: left;
  font-size: 20px;
  font-family: "ABC Diatype";
  line-height: 21px;
  letter-spacing: 0.01em;
  width: auto;
  padding: 10px;
}
@media (max-width: 640px) {
  .text__dc7Mh {
    width: 100vw;
    font-size: 16px;
    color: var(--token-Mq_qSd0gm);
    line-height: 17px;
  }
}
.freeBox__wXdd1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.freeBox___3Ke2E {
  background: none;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 230px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox___3Ke2E {
    height: 85vh;
    padding-top: 0px;
    left: auto;
    top: auto;
  }
}
.text__j3Zho {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Mq_qSd0gm);
}
.freeBox___1CKvB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px 150px 0px 0px;
  margin: 0px;
}
.freeBox___732X3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox___962MU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__eTBay {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Mq_qSd0gm);
}
.text__argNm {
  color: var(--token-Mq_qSd0gm);
  text-align: left;
  font-size: 20px;
  font-family: "ABC Diatype";
  line-height: 21px;
  letter-spacing: 0.01em;
  width: auto;
  padding: 10px;
}
@media (max-width: 640px) {
  .text__argNm {
    width: 100vw;
    font-size: 16px;
    color: var(--token-Mq_qSd0gm);
    line-height: 17px;
  }
}
.freeBox__lg41I {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.freeBox___2YEhz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  left: auto;
  top: auto;
  z-index: 1;
  flex-grow: 1;
  background: none;
  overflow: visible;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox___2YEhz {
    background: none;
  }
}
.freeBox___3DLvp {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 0em;
}
.img {
  position: relative;
  object-fit: cover;
  flex-grow: 1;
  flex-shrink: 0;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img {
    object-position: 60% 50%;
  }
}
@media (max-width: 640px) {
  .img > picture > img {
    object-position: 60% 50%;
  }
}
@media (max-width: 640px) {
  .img > :global(.__wab_img-spacer) > img {
    object-position: 60% 50%;
  }
}
.freeBox___1Jczq {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: auto;
  background: linear-gradient(
      0deg,
      #2c2c2c4d 0%,
      #2c2c2c4d 39%,
      #2c2c2c59 58%,
      #2c2c2cbf 91%,
      #2c2c2c 100%
    )
    0% 0% / 100% 100% repeat;
  overflow: visible;
  bottom: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__eCDou {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 2;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__ntnNx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__erbVq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Mq_qSd0gm);
  min-width: 0;
  padding: 5px;
}
.buttonExternalLink:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
