.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-gvQcXRBmf);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (max-width: 1280px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
@media (max-width: 834px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
@media (max-width: 414px) {
  .root {
    justify-items: center;
    align-content: flex-start;
  }
}
@media (max-width: 414px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.cover:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  right: 0;
  display: flex;
}
@media (max-width: 1280px) {
  .cover:global(.__wab_instance) {
    display: flex;
  }
}
@media (max-width: 414px) {
  .cover:global(.__wab_instance) {
    z-index: 4;
    display: flex;
  }
}
.buildSystemsHeadline:global(.__wab_instance) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0px;
}
@media (max-width: 414px) {
  .buildSystemsHeadline:global(.__wab_instance) {
    z-index: 3;
  }
}
.freeBox___332Cd {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 0;
  z-index: 3;
  right: 0;
  justify-self: flex-start;
  padding: 8px;
}
@media (max-width: 414px) {
  .freeBox___332Cd {
    z-index: 5;
  }
}
.menu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.freeBox__q7Jq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  left: auto;
  top: auto;
  z-index: 0;
  flex-grow: 1;
  background: none;
  overflow: visible;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
@media (max-width: 414px) {
  .freeBox__q7Jq {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: visible;
    z-index: 2;
  }
}
.freeBox__wvlpk {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 0em;
}
.img__d5Qv {
  position: relative;
  object-fit: cover;
  flex-grow: 1;
  flex-shrink: 0;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.img__d5Qv > picture > img {
  object-fit: cover;
}
.img__d5Qv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__caDi {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: auto;
  background: linear-gradient(
      0deg,
      #222222 0%,
      #222222e6 8%,
      #22222259 15%,
      #22222240 24%,
      #22222240 100%
    )
    0% 0% / 100% 100% repeat;
  overflow: visible;
  bottom: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 414px) {
  .freeBox__caDi {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__tM9Gj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 5vh;
  max-width: 100%;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 18vw;
}
@media (max-width: 414px) {
  .freeBox__tM9Gj {
    padding-left: 0vw;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    display: none;
  }
}
.freeBox__alDgg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px var(--token-E903dIBMc);
}
@media (max-width: 1280px) {
  .freeBox__alDgg {
    padding: 0px var(--token-Jku9Krk26) 0px var(--token-bmnU--xfN);
  }
}
@media (max-width: 834px) {
  .freeBox__alDgg {
    padding: 0px var(--token-PMepkn9qf) 0px var(--token-kdOpqIkzK);
  }
}
@media (max-width: 414px) {
  .freeBox__alDgg {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
    height: 40vh;
    z-index: 1;
  }
}
.text__ooJwq {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-murZRIrJA);
  font-size: var(--token-fJm1K7aY_);
  color: var(--token-Y1kFl7CJ7);
  line-height: var(--token-6GDvSmF-K);
  letter-spacing: -0.45px;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding: 5px 0px 0px;
}
@media (max-width: 1280px) {
  .text__ooJwq {
    letter-spacing: -0.31px;
    line-height: var(--token-Oaedkq7zb);
    font-size: var(--token-iSOd27vCw);
    padding-top: 11px;
  }
}
@media (max-width: 834px) {
  .text__ooJwq {
    font-size: var(--token-5L-YzuaeW);
    letter-spacing: -0.27px;
    line-height: var(--token-T9ROFPJPN);
  }
}
@media (max-width: 414px) {
  .text__ooJwq {
    font-size: var(--token-FU8Hni77L);
    text-align: left;
    letter-spacing: -0.27px;
    line-height: var(--token-v2KdNz0YD);
    padding: 12px 0px 0px;
    margin: 0px;
  }
}
.freeBox__yqM5 {
  background: none;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: flex-end;
  flex-shrink: 1;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px var(--token-E903dIBMc);
  margin: 0px;
}
@media (max-width: 1280px) {
  .freeBox__yqM5 {
    padding-left: var(--token-Jku9Krk26);
    padding-right: var(--token-Jku9Krk26);
  }
}
@media (max-width: 834px) {
  .freeBox__yqM5 {
    padding-left: var(--token-PMepkn9qf);
    padding-right: var(--token-PMepkn9qf);
  }
}
@media (max-width: 414px) {
  .freeBox__yqM5 {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    z-index: 4;
    min-height: 0;
  }
}
.freeBox__ghXc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (max-width: 834px) {
  .freeBox__ghXc {
    height: auto;
  }
}
@media (max-width: 414px) {
  .freeBox__ghXc {
    display: flex;
  }
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__wz786 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 414px) {
  .freeBox__wz786 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.text__fmuY {
  color: var(--token-Y1kFl7CJ7);
  width: auto;
  text-align: left;
  font-size: var(--token-8Bjial1Fj);
  font-family: var(--token-murZRIrJA);
  line-height: var(--token-ud4wo3PCm);
  letter-spacing: -0.26px;
  padding: 8px 0px;
}
@media (max-width: 1280px) {
  .text__fmuY {
    letter-spacing: -0.2px;
    font-size: var(--token--sZFyuQ2-);
    line-height: var(--token-wLZ1RMZfP);
  }
}
@media (max-width: 834px) {
  .text__fmuY {
    letter-spacing: -0.17px;
    font-size: var(--token-7nxbZRFJ2);
    line-height: var(--token-qwONIKZlU);
  }
}
@media (max-width: 414px) {
  .text__fmuY {
    font-size: var(--token-FjcO7F_7o);
    line-height: var(--token-TlsAXG78b);
    letter-spacing: -0.15px;
    padding: 0px;
  }
}
.freeBox__vtZnr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  padding: 0px;
}
@media (max-width: 414px) {
  .freeBox__vtZnr {
    margin: 10px 0px 0px;
  }
}
.smallButton___7Kbng:global(.__wab_instance) {
  max-width: 100%;
  margin: 0px;
}
.text__uPqsL {
  padding-top: 0px;
  padding-right: 0px;
}
.freeBox__kihbZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10vh;
  max-width: 100%;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
@media (max-width: 414px) {
  .freeBox__kihbZ {
    height: 15vh;
    z-index: 2;
  }
}
.freeBox__myJt4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px var(--token-E903dIBMc);
}
@media (max-width: 1280px) {
  .freeBox__myJt4 {
    padding-left: var(--token-bmnU--xfN);
    padding-right: var(--token-Jku9Krk26);
  }
}
@media (max-width: 834px) {
  .freeBox__myJt4 {
    padding-left: var(--token-kdOpqIkzK);
    padding-right: var(--token-PMepkn9qf);
  }
}
@media (max-width: 414px) {
  .freeBox__myJt4 {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
    height: 40vh;
    z-index: 1;
  }
}
.text__a2N3 {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-murZRIrJA);
  font-size: var(--token-fJm1K7aY_);
  color: var(--token-Y1kFl7CJ7);
  letter-spacing: -0.45px;
  line-height: var(--token-6GDvSmF-K);
  left: 0px;
  top: 0px;
  z-index: 1;
  padding: 5px 0px 0px;
}
@media (max-width: 1280px) {
  .text__a2N3 {
    letter-spacing: -0.31px;
    line-height: var(--token-Oaedkq7zb);
    font-size: var(--token-iSOd27vCw);
    padding-top: 11px;
  }
}
@media (max-width: 834px) {
  .text__a2N3 {
    font-size: var(--token-5L-YzuaeW);
    line-height: var(--token-T9ROFPJPN);
  }
}
@media (max-width: 414px) {
  .text__a2N3 {
    text-align: left;
    font-size: var(--token-FU8Hni77L);
    line-height: var(--token-v2KdNz0YD);
    letter-spacing: -0.27px;
    padding: 12px 0px 0px;
  }
}
.freeBox__hTdH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px var(--token-E903dIBMc) 0px;
}
@media (max-width: 1280px) {
  .freeBox__hTdH {
    padding-left: var(--token-Jku9Krk26);
    padding-right: var(--token-Jku9Krk26);
  }
}
@media (max-width: 834px) {
  .freeBox__hTdH {
    padding-left: var(--token-PMepkn9qf);
    padding-right: var(--token-PMepkn9qf);
  }
}
@media (max-width: 414px) {
  .freeBox__hTdH {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
    display: flex;
  }
}
.img__v4HjB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__v4HjB > picture > img {
  object-fit: cover;
}
.img__v4HjB > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__s3N {
  background: none;
  width: 100%;
  height: 50vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: center;
  flex-shrink: 1;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px var(--token-E903dIBMc);
  margin: 0px;
}
@media (max-width: 1280px) {
  .freeBox__s3N {
    padding-left: var(--token-Jku9Krk26);
    padding-right: var(--token-Jku9Krk26);
  }
}
@media (max-width: 834px) {
  .freeBox__s3N {
    padding-left: var(--token-PMepkn9qf);
    padding-right: var(--token-PMepkn9qf);
  }
}
@media (max-width: 414px) {
  .freeBox__s3N {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
    align-items: flex-start;
    justify-content: center;
    height: 50vh;
    z-index: 4;
  }
}
.freeBox__tnKeH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
.text__gCnjp {
  color: var(--token-Y1kFl7CJ7);
  width: auto;
  text-align: left;
  font-size: var(--token-8Bjial1Fj);
  font-family: var(--token-murZRIrJA);
  line-height: var(--token-ud4wo3PCm);
  letter-spacing: -0.26px;
  padding: 8px 0px;
}
@media (max-width: 1280px) {
  .text__gCnjp {
    letter-spacing: -0.2px;
    font-size: var(--token--sZFyuQ2-);
    line-height: var(--token-wLZ1RMZfP);
  }
}
@media (max-width: 834px) {
  .text__gCnjp {
    font-size: var(--token-7nxbZRFJ2);
    line-height: var(--token-qwONIKZlU);
    letter-spacing: -0.17px;
  }
}
@media (max-width: 414px) {
  .text__gCnjp {
    font-size: var(--token-FjcO7F_7o);
    line-height: var(--token-TlsAXG78b);
    letter-spacing: -0.15px;
    padding: 0px;
  }
}
.freeBox__abYxU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 414px) {
  .freeBox__abYxU {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.smallButton___4LqCo:global(.__wab_instance) {
  max-width: 100%;
}
.text__nDzhi {
  padding-top: 0px;
  padding-right: 0px;
}
.freeBox__lZfyq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 5vh;
  max-width: 100%;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
@media (max-width: 414px) {
  .freeBox__lZfyq {
    height: 5vh;
    z-index: 2;
    display: none;
  }
}
.lottieScroll:global(.__wab_instance) {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 40vh;
  min-width: 0;
  display: flex;
}
@media (max-width: 414px) {
  .lottieScroll:global(.__wab_instance) {
    z-index: 2;
    display: none;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: -1;
}
@media (max-width: 414px) {
  .footer:global(.__wab_instance) {
    z-index: 2;
  }
}
.hiderHeadlines:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  display: none;
}
@media (max-width: 414px) {
  .hiderHeadlines:global(.__wab_instance) {
    display: flex;
  }
}
