.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 163px;
  height: 192px;
  justify-self: flex-start;
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  padding: 0px;
  margin: 0px;
}
.freeBox__zyI38 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: -200px;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
  margin: 0px;
}
.freeBoxonSubSite_services__zyI387Laf7 {
  z-index: 2;
}
.freeBoxonSubSite_projekte__zyI380US2U {
  z-index: 2;
}
.freeBoxonSubSite_personen__zyI38Ui3Mn {
  z-index: 2;
}
.freeBoxexpand__zyI38ByE14 {
  z-index: 2;
}
.link__tkhkd {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  transition-property: all;
  transition-duration: 1s;
  transform: none;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.linkonSubSite_services__tkhkd7Laf7 {
  transform: none;
  cursor: pointer;
}
.linkonSubSite_projekte__tkhkd0US2U {
  transform: none;
  cursor: pointer;
}
.linkonSubSite_personen__tkhkdUi3Mn {
  transform: none;
  cursor: pointer;
}
.linkexpand__tkhkdByE14 {
  transform: translateX(0px) translateY(198px) translateZ(0px);
  cursor: pointer;
}
.start:global(.__wab_instance) {
  max-width: 100%;
  transform: none;
  display: flex;
}
.startonSubSite_services:global(.__wab_instance) {
  transform: none;
  display: flex;
}
.startonSubSite_projekte:global(.__wab_instance) {
  transform: none;
  display: flex;
}
.startonSubSite_personen:global(.__wab_instance) {
  transform: none;
  display: flex;
}
.startexpand:global(.__wab_instance) {
  transform: none;
}
.text {
  font-size: 20px;
  font-family: var(--token-murZRIrJA);
}
.link__n149K {
  position: relative;
  display: flex;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.linkonSubSite_services__n149K7Laf7 {
  transform: translateX(0px) translateY(168px) translateZ(0px);
}
.linkonSubSite_projekte__n149K0US2U {
  transform: none;
}
.linkonSubSite_personen__n149KUi3Mn {
  transform: none;
}
.linkexpand__n149KByE14 {
  transform: translateX(0px) translateY(200px) translateZ(0px);
}
.services:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: flex;
}
.servicesonSubSite_services:global(.__wab_instance) {
  display: flex;
}
.servicesonSubSite_projekte:global(.__wab_instance) {
  display: flex;
}
.servicesonSubSite_personen:global(.__wab_instance) {
  display: flex;
}
.link__qraVz {
  position: relative;
  display: flex;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.linkonSubSite_services__qraVz7Laf7 {
  transform: none;
}
.linkonSubSite_projekte__qraVz0US2U {
  transform: translateX(0px) translateY(138px) translateZ(0px);
}
.linkonSubSite_personen__qraVzUi3Mn {
  transform: none;
}
.linkexpand__qraVzByE14 {
  transform: translateX(0px) translateY(202px) translateZ(0px);
}
.projekte:global(.__wab_instance) {
  max-width: 100%;
  display: flex;
}
.projekteonSubSite_services:global(.__wab_instance) {
  display: flex;
}
.projekteonSubSite_projekte:global(.__wab_instance) {
  display: flex;
}
.projekteonSubSite_personen:global(.__wab_instance) {
  display: flex;
}
.link__h4FSf {
  position: relative;
  display: flex;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.linkonSubSite_services__h4FSf7Laf7 {
  transform: none;
}
.linkonSubSite_projekte__h4FSf0US2U {
  transform: none;
}
.linkonSubSite_personen__h4FSfUi3Mn {
  transform: translateX(0px) translateY(108px) translateZ(0px);
}
.linkexpand__h4FSfByE14 {
  transform: translateX(0px) translateY(204px) translateZ(0px);
}
.personen:global(.__wab_instance) {
  max-width: 100%;
  display: flex;
}
.personenonSubSite_services:global(.__wab_instance) {
  display: flex;
}
.personenonSubSite_projekte:global(.__wab_instance) {
  display: flex;
}
.personenonSubSite_personen:global(.__wab_instance) {
  width: auto;
  display: flex;
}
.freeBox__gn5HA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-grow: 1;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
  margin: 0px;
}
.freeBox__ptCVk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  max-width: 100%;
  background: var(--token-Y1kFl7CJ7);
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 25px;
  padding: 0px;
  margin: 0px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 15px;
  height: 15px;
  color: var(--token-gvQcXRBmf);
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 1s;
}
