.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding: 0px;
}
@media (max-width: 768px) {
  .root {
    padding: 0px;
  }
}
@media (max-width: 375px) {
  .root {
    height: 187px;
    width: 355px;
    justify-self: flex-start;
    padding: 0px;
  }
}
.rootexpanded {
  padding: 0px;
}
@media (max-width: 375px) {
  .rootexpanded {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.freeBox__xTsx6 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Mq_qSd0gm);
  flex-grow: 1;
  min-height: 199px;
  min-width: 0;
  border-radius: 15px;
}
@media (max-width: 1280px) {
  .freeBox__xTsx6 {
    width: 515px;
    height: auto;
    min-height: 169px;
  }
}
@media (max-width: 768px) {
  .freeBox__xTsx6 {
    width: 600px;
    height: auto;
    min-height: 153px;
  }
}
@media (max-width: 375px) {
  .freeBox__xTsx6 {
    width: 355px;
    height: auto;
    min-height: 187px;
  }
}
.freeBoxexpanded__xTsx6NnpJu {
  box-shadow: 0px 4px 16px 0px #000000;
}
.freeBox__q5J1D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
@media (max-width: 375px) {
  .freeBox__q5J1D {
    padding: 8px;
  }
}
.freeBox__awoI9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (max-width: 1280px) {
  .freeBox__awoI9 {
    z-index: 3;
  }
}
@media (max-width: 375px) {
  .freeBox__awoI9 {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    padding: 0px 8px;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 135px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img {
    width: 93px;
  }
}
@media (max-width: 375px) {
  .img {
    width: 93px;
  }
}
.freeBox___5Lmv3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 0px;
  padding-top: 0px;
  min-width: 0;
}
@media (max-width: 375px) {
  .freeBox___5Lmv3 {
    padding-left: 0px;
  }
}
.freeBox__xqBtG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text___5JEt {
  font-family: var(--token-murZRIrJA);
}
@media (max-width: 1280px) {
  .text___5JEt {
    letter-spacing: -0.2px;
    line-height: 21px;
  }
}
.textpersonen_danielLocatelli___5JEteOoDg {
  font-family: var(--token-murZRIrJA);
  height: auto;
}
.freeBox__dFmZ3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__zOkqU {
  font-family: var(--token-murZRIrJA);
}
@media (max-width: 1280px) {
  .text__zOkqU {
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: 15.4px;
  }
}
@media (max-width: 375px) {
  .text__zOkqU {
    font-size: 14px;
    line-height: 15.4px;
  }
}
.textpersonen_danielDieren__zOkqU03Qoh {
  padding-top: 0px;
}
.textpersonen_danielLocatelli__zOkqUeOoDg {
  font-family: var(--token-murZRIrJA);
}
.textpersonen_juliaDorn__zOkqUbja9Y {
  height: auto;
  padding-top: 0px;
}
.freeBox__ppBiU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (max-width: 1280px) {
  .freeBox__ppBiU {
    z-index: 20;
  }
}
.freeBoxpersonen_martinBittmann__ppBiUPf5Wu {
  z-index: 1;
}
.freeBoxpersonen_danielDieren__ppBiU03Qoh {
  z-index: 1;
}
.freeBoxpersonen_danielLocatelli__ppBiUeOoDg {
  z-index: 1;
}
.freeBoxpersonen_vinzenzTrimborn__ppBiUjfChG {
  z-index: 1;
}
.freeBoxexpanded__ppBiUnnpJu {
  z-index: 3;
}
.freeBox__nL7ZG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (max-width: 1280px) {
  .freeBox__nL7ZG {
    z-index: 20;
  }
}
.freeBoxpersonen_juliaDorn__nL7ZGbja9Y {
  z-index: 1;
}
.smallButton:global(.__wab_instance) {
  max-width: 100%;
}
.text__pQTpi {
  padding-right: 0px;
}
.freeBox__gfxOx {
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Mq_qSd0gm);
  position: absolute;
  left: 0px;
  top: 162px;
  padding-left: 174px;
  padding-top: 32px;
  padding-bottom: 16px;
  z-index: 2;
  min-width: 0;
  display: none;
  border-radius: 15px;
}
@media (max-width: 1280px) {
  .freeBox__gfxOx {
    width: 515px;
    padding-top: 16px;
    top: 148px;
    display: none;
  }
}
@media (max-width: 768px) {
  .freeBox__gfxOx {
    width: 600px;
    top: 139px;
    padding-top: 26px;
    padding-left: 134px;
    z-index: 4;
    display: none;
  }
}
@media (max-width: 375px) {
  .freeBox__gfxOx {
    left: 0px;
    padding-left: 117px;
    padding-top: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 0px;
    width: 355px;
    display: none;
  }
}
.freeBoxpersonen_martinBittmann__gfxOxPf5Wu {
  display: none;
}
.freeBoxpersonen_danielDieren__gfxOx03Qoh {
  display: none;
}
.freeBoxpersonen_danielLocatelli__gfxOxeOoDg {
  display: none;
}
.freeBoxpersonen_juliaDorn__gfxOxbja9Y {
  display: none;
}
.freeBoxpersonen_vinzenzTrimborn__gfxOxJfChG {
  display: none;
}
.freeBoxpersonen_andreasThoma__gfxOxusA8U {
  display: none;
}
.freeBoxexpanded__gfxOxnnpJu {
  z-index: 2;
  box-shadow: 0px 15px 16px 0px #0000008a;
  width: 100%;
  left: 0px;
  margin-right: 0px;
  min-width: 0;
  display: flex;
}
@media (max-width: 375px) {
  .freeBoxexpanded__gfxOxnnpJu {
    padding-left: 113px;
    width: 355px;
    align-items: center;
    justify-content: flex-start;
    left: 0px;
    box-shadow: 0px 20px 16px 0px #0000008a;
  }
}
.text___7X6Qp {
  padding-right: 20px;
  font-family: var(--token-murZRIrJA);
}
@media (max-width: 1280px) {
  .text___7X6Qp {
    font-size: 14px;
    line-height: 15.4px;
    letter-spacing: -0.14px;
  }
}
@media (max-width: 375px) {
  .text___7X6Qp {
    max-width: 237px;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .textexpanded___7X6QPnnpJu {
    font-size: 14px;
    line-height: 17px;
  }
}
