.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  background: var(--token-115P4K5E6);
  cursor: pointer;
  position: relative;
  height: auto;
  justify-self: flex-start;
  margin-left: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 2px;
  padding: 1px 6px;
}
.rootnoLeftSiteShift {
  margin-left: 0px;
}
.rootplus {
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
}
.root:hover {
  background: var(--token-Sh0WEr6N-);
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  color: var(--token-gvQcXRBmf);
  margin-right: 5px;
  flex-shrink: 0;
  height: 1em;
}
.svgplus {
  display: none;
}
.root:hover .svg {
  color: var(--token-Y1kFl7CJ7);
}
.slotTargetChildren {
  font-family: var(--token-murZRIrJA);
  font-size: var(--token-2m3Ogv_Oh);
  font-weight: 400;
  color: var(--token-gvQcXRBmf);
  line-height: var(--token-RfG3rM2On);
  letter-spacing: -0.14px;
  user-select: none;
}
.root:hover .slotTargetChildren {
  color: var(--token-Y1kFl7CJ7);
}
