.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-gvQcXRBmf);
  overflow: visible;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (max-width: 1280px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
@media (max-width: 834px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
@media (max-width: 414px) {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 414px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.menuStack {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 0;
  z-index: 5;
  right: 0;
  justify-self: flex-start;
  padding: 8px;
}
.menu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 834px) {
  .menu:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .menu:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.buildSystemsHeadline:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}
.freeBox__u3Rk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 30vh;
  max-width: 100%;
  margin-bottom: 0px;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px var(--token-E903dIBMc);
}
@media (max-width: 834px) {
  .freeBox__u3Rk {
    padding-left: var(--token-kdOpqIkzK);
    padding-right: var(--token-PMepkn9qf);
  }
}
@media (max-width: 414px) {
  .freeBox__u3Rk {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
    height: 30vh;
    flex-shrink: 0;
  }
}
.text__iVp6 {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-murZRIrJA);
  font-size: var(--token-fJm1K7aY_);
  color: var(--token-Y1kFl7CJ7);
  line-height: var(--token-6GDvSmF-K);
  letter-spacing: -0.45px;
  left: 0px;
  top: 0px;
  z-index: 1;
  display: none;
  padding: 5px;
}
@media (max-width: 414px) {
  .text__iVp6 {
    font-size: var(--token-FU8Hni77L);
    letter-spacing: -0.27px;
    line-height: var(--token-v2KdNz0YD);
    padding: 12px 0px 0px;
  }
}
.freeBox__riity {
  background: none;
  width: 100%;
  height: 50vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: flex-start;
  flex-shrink: 1;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px var(--token-E903dIBMc);
  margin: 0px;
}
@media (max-width: 1280px) {
  .freeBox__riity {
    padding-left: var(--token-bmnU--xfN);
    padding-right: var(--token-bmnU--xfN);
  }
}
@media (max-width: 834px) {
  .freeBox__riity {
    padding-left: var(--token-PMepkn9qf);
    padding-right: var(--token-PMepkn9qf);
  }
}
@media (max-width: 414px) {
  .freeBox__riity {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
    height: 30vh;
    flex-shrink: 0;
  }
}
.text__d4KoG {
  color: var(--token-Y1kFl7CJ7);
  width: auto;
  text-align: left;
  font-size: var(--token-8Bjial1Fj);
  font-family: var(--token-murZRIrJA);
  letter-spacing: -0.26px;
  line-height: var(--token-ud4wo3PCm);
  padding: 0px;
}
@media (max-width: 1280px) {
  .text__d4KoG {
    font-size: var(--token--sZFyuQ2-);
    line-height: var(--token-wLZ1RMZfP);
    letter-spacing: -0.2px;
  }
}
@media (max-width: 414px) {
  .text__d4KoG {
    font-size: var(--token-FjcO7F_7o);
    line-height: var(--token-TlsAXG78b);
    letter-spacing: -0.27px;
    padding: 0px;
  }
}
.freeBox__cYVnn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px var(--token-E903dIBMc);
}
@media (max-width: 1280px) {
  .freeBox__cYVnn {
    padding: 0px var(--token-bmnU--xfN);
  }
}
@media (max-width: 834px) {
  .freeBox__cYVnn {
    padding-left: var(--token-kdOpqIkzK);
    padding-right: var(--token-PMepkn9qf);
  }
}
@media (max-width: 414px) {
  .freeBox__cYVnn {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
  }
}
.text__msWiq {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-murZRIrJA);
  font-size: var(--token-fJm1K7aY_);
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
  line-height: var(--token-6GDvSmF-K);
  letter-spacing: -0.45px;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding-top: 5px;
}
@media (max-width: 1280px) {
  .text__msWiq {
    font-size: var(--token-iSOd27vCw);
    line-height: var(--token-Oaedkq7zb);
    letter-spacing: -0.31px;
    padding-top: 11px;
  }
}
@media (max-width: 414px) {
  .text__msWiq {
    font-size: var(--token-FU8Hni77L);
    letter-spacing: -0.27px;
    line-height: var(--token-v2KdNz0YD);
    padding-top: 12px;
  }
}
.freeBox___3Ke2E {
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: flex-start;
  flex-shrink: 1;
  z-index: 3;
  grid-column-start: 1;
  grid-column-end: -1;
  min-height: 0;
  padding: 8px var(--token-HEUzmGVCS) 0px;
  margin: 0px;
}
@media (max-width: 1280px) {
  .freeBox___3Ke2E {
    padding-left: var(--token-Jku9Krk26);
    padding-right: var(--token-Jku9Krk26);
  }
}
@media (max-width: 834px) {
  .freeBox___3Ke2E {
    padding-left: var(--token-PMepkn9qf);
    padding-right: var(--token-PMepkn9qf);
  }
}
@media (max-width: 414px) {
  .freeBox___3Ke2E {
    height: auto;
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
    align-items: center;
    justify-content: flex-start;
  }
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  flex-shrink: 1;
  flex-grow: 0;
  padding: 0px;
  margin: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  --plsmc-rc-col-gap: 8px;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 834px) {
  .columns {
    flex-direction: row;
  }
}
@media (max-width: 834px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 834px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
@media (max-width: 834px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
@media (max-width: 414px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .columns > :global(.__wab_flex-container) {
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 414px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
@media (max-width: 414px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qUoPh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.personBox__qjRtW:global(.__wab_instance) {
  position: relative;
}
.column__li3T2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.personBox__dOy15:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column___9UtCi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.personBox__sbHWq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__dhhL6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.personBox___55Hka:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__kvPk2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.personBox__cDjn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column___7F0Ix {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 0px;
}
.personBox__vEf5N:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.versteckterHeader {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  display: none;
  padding: 0px var(--token-E903dIBMc);
}
@media (max-width: 1280px) {
  .versteckterHeader {
    padding: 0px var(--token-bmnU--xfN);
  }
}
@media (max-width: 834px) {
  .versteckterHeader {
    padding-left: var(--token-kdOpqIkzK);
    padding-right: var(--token-PMepkn9qf);
  }
}
@media (max-width: 414px) {
  .versteckterHeader {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
  }
}
.text__wT5VW {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-murZRIrJA);
  font-size: var(--token-fJm1K7aY_);
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
  line-height: var(--token-6GDvSmF-K);
  letter-spacing: -0.45px;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding-top: 5px;
}
@media (max-width: 1280px) {
  .text__wT5VW {
    font-size: var(--token-iSOd27vCw);
    line-height: var(--token-Oaedkq7zb);
    letter-spacing: -0.31px;
    padding-top: 11px;
  }
}
@media (max-width: 414px) {
  .text__wT5VW {
    font-size: var(--token-FU8Hni77L);
    letter-spacing: -0.27px;
    line-height: var(--token-v2KdNz0YD);
    padding-top: 12px;
  }
}
.freeBox__l40T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
@media (max-width: 1280px) {
  .freeBox__l40T {
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox__l40T {
    height: 5vh;
    flex-shrink: 0;
    display: none;
  }
}
.imageFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  z-index: 2;
}
@media (max-width: 414px) {
  .imageFooter:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.hiderHeadlines:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
}
@media (max-width: 414px) {
  .hiderHeadlines:global(.__wab_instance) {
    height: 450px;
    flex-shrink: 0;
  }
}
