.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  height: auto;
  justify-self: flex-start;
  margin-left: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 2px;
  padding: 2px;
}
.rootnoLeftSiteShift {
  margin-left: 0px;
}
.root:hover {
  background: var(--token-phK4XmCXj);
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  color: var(--token-gvQcXRBmf);
  margin-right: 5px;
  flex-shrink: 0;
  height: 1em;
}
.root:hover .svg {
  color: var(--token-Mq_qSd0gm);
}
.slotTargetChildren {
  font-family: "ABC Diatype";
  font-size: 10px;
  font-weight: 400;
  color: var(--token-gvQcXRBmf);
  line-height: 100%;
  letter-spacing: 0em;
}
.root:hover .slotTargetChildren {
  color: var(--token-Mq_qSd0gm);
}
