.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-gvQcXRBmf);
  overflow: visible;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (max-width: 640px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__yqGkF {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 0;
  z-index: 2;
  right: 0;
  justify-self: flex-start;
  padding: 8px;
}
.menu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__a3Pcc {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px;
  margin: 0px;
}
.text__zQdJg {
  display: block;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 100%;
  color: #ffffff;
  width: auto;
  flex-grow: 0;
  text-align: center;
  box-shadow: none;
  filter: none;
  transform: none;
  height: auto;
  flex-shrink: 1;
  font-family: "ABC Diatype";
  padding: 0px;
}
@media (max-width: 640px) {
  .text__zQdJg {
    font-size: 51px;
    letter-spacing: -0.04em;
    padding-right: 20px;
  }
}
.text__bbwxv {
  display: block;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  color: #ffffff;
  width: auto;
  flex-grow: 0;
  text-align: center;
  box-shadow: none;
  filter: none;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  height: auto;
  flex-shrink: 1;
  font-family: "ABC Diatype Mono";
  letter-spacing: -0.02em;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__bbwxv {
    font-size: 51px;
    padding-left: 0px;
  }
}
.freeBox__riity {
  background: none;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 230px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__riity {
    height: 85vh;
    padding-top: 0px;
  }
}
.freeBox__zN7O3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 20px 20px 0px;
}
.text__rZeUa {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
}
.freeBox__pBnt6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 150px 0px 0px;
  margin: 0px;
}
.text__d4KoG {
  color: var(--token-Y1kFl7CJ7);
  width: auto;
  text-align: left;
  font-size: 26px;
  font-family: "ABC Diatype";
  letter-spacing: 0.01em;
  padding: 10px;
}
@media (max-width: 640px) {
  .text__d4KoG {
    width: 100vw;
    font-size: 16px;
    color: var(--token-Mq_qSd0gm);
    line-height: 17px;
  }
}
.freeBox__cYVnn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 30vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 230px;
}
.text__msWiq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 46px;
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
}
.freeBox___3Ke2E {
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: flex-start;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  min-height: 0;
  padding: 0px 0px 0px 150px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox___3Ke2E {
    height: 85vh;
    padding-top: 0px;
    left: auto;
    top: auto;
  }
}
.freeBox___1CKvB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  padding: 0px 150px 0px 0px;
  margin: 0px;
}
.personBox__qjRtW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.personBox__dOy15:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__dm1D9 {
  height: auto;
}
.personBox__sbHWq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.personBox___55Hka:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.personBox__cDjn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.personBox__vEf5N:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__hgfxB {
  padding-left: 0px;
}
.freeBox__l40T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.imageFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
