.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 120vh;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__fXbm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  overflow-x: visible;
  overflow-y: auto;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__ujo40 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vh;
  height: 80vh;
  max-width: 100%;
  overflow: hidden;
  background: #611414;
  flex-shrink: 0;
  padding: 0px;
}
.freeBoxcarousel_smart__ujo40Ras7R {
  align-items: center;
  justify-content: center;
}
.freeBoxcarousel_sustainable__ujo40MfGii {
  align-items: center;
  justify-content: center;
}
.freeBoxcarousel_systems__ujo40NbM {
  align-items: center;
  justify-content: center;
}
.text__qJ50B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  display: block;
}
.textcarousel_smart__qJ50Bras7R {
  display: block;
}
.text___6AZvo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  display: none;
}
.textcarousel_sustainable___6AZvoMfGii {
  display: block;
}
.text__v9WFv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  display: none;
}
.textcarousel_systems__v9WFvNbM {
  display: block;
}
