.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  padding: 20px;
}
.text__hTv1W {
  display: block;
  font-size: 46px;
  font-weight: 400;
  letter-spacing: -0.92px;
  line-height: 13px;
  color: var(--token-TKjwOru-1);
  width: auto;
  flex-grow: 0;
  text-align: center;
  box-shadow: none;
  filter: none;
  transform: none;
  height: auto;
  flex-shrink: 1;
  font-family: "ABC Diatype";
  user-select: none;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__hTv1W {
    font-size: 51px;
    letter-spacing: -0.04em;
    padding-right: 20px;
  }
}
.texttransparent__hTv1WRxVzc {
  color: var(--token-Sh0WEr6N-);
}
.textbig__hTv1W9Cpjs {
  font-size: 204px;
}
.text___6XRo5 {
  display: block;
  font-size: 46px;
  font-weight: 400;
  line-height: 13px;
  color: var(--token-TKjwOru-1);
  width: auto;
  flex-grow: 0;
  text-align: center;
  box-shadow: none;
  filter: none;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  height: auto;
  flex-shrink: 1;
  font-family: "ABC Diatype Mono";
  letter-spacing: 0px;
  user-select: none;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
@media (max-width: 640px) {
  .text___6XRo5 {
    font-size: 51px;
    padding-left: 0px;
  }
}
.texttransparent___6XRo5RxVzc {
  color: var(--token-Sh0WEr6N-);
}
.textbig___6XRo59Cpjs {
  font-size: 204px;
}
