.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  overflow: auto;
  background: var(--token-gvQcXRBmf);
  min-width: 0;
  padding: 0px;
}
.rootcarousel_smart {
  background: var(--token-gvQcXRBmf);
}
.freeBox__fXbm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hGQhz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 204px;
  max-width: 100%;
  padding: 0px;
}
.text__hBw0D {
  width: 100%;
  height: 210px;
  max-width: 100%;
  font-family: var(--token-murZRIrJA);
  color: var(--token-TKjwOru-1);
  font-size: 204px;
  letter-spacing: -4.08px;
  line-height: 204px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___3HFg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 210px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px;
}
.freeBox__smgW6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 204px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.text__tJ69J {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype Mono";
  color: var(--token-TKjwOru-1);
  font-size: 204px;
  letter-spacing: -4.08px;
  line-height: 204px;
  min-width: 0;
}
.freeBox__yBoiv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 204px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.text__egA8N {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype Mono";
  color: var(--token-TKjwOru-1);
  font-size: 204px;
  letter-spacing: -4.08px;
  line-height: 204px;
  min-width: 0;
}
.freeBox__gHiCi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 240px;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.text__xspV {
  width: 100%;
  height: 180px;
  max-width: 100%;
  font-family: "ABC Diatype Mono";
  color: var(--token-TKjwOru-1);
  font-size: 204px;
  letter-spacing: -4.08px;
  line-height: 204px;
  min-width: 0;
  flex-shrink: 0;
}
