.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-gvQcXRBmf);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (max-width: 768px) {
  .root {
    justify-items: flex-start;
    align-content: flex-start;
  }
}
@media (max-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.buildSystemsHeadline:global(.__wab_instance) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0px;
}
.cover:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  display: flex;
}
@media (max-width: 768px) {
  .cover:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox___332Cd {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 0;
  z-index: 3;
  right: 0;
  justify-self: flex-start;
  padding: 8px;
}
.menu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.freeBox__q7Jq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  left: auto;
  top: auto;
  z-index: 0;
  flex-grow: 1;
  background: none;
  overflow: visible;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
@media (max-width: 768px) {
  .freeBox__q7Jq {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: visible;
  }
}
.freeBox__wvlpk {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 0em;
}
.img {
  position: relative;
  object-fit: cover;
  flex-grow: 1;
  flex-shrink: 0;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__caDi {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: auto;
  background: linear-gradient(
      0deg,
      #222222 0%,
      #222222e6 8%,
      #22222259 15%,
      #22222240 24%,
      #22222240 100%
    )
    0% 0% / 100% 100% repeat;
  overflow: visible;
  bottom: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 768px) {
  .freeBox__caDi {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__tM9Gj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 5vh;
  max-width: 100%;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 18vw;
}
@media (max-width: 768px) {
  .freeBox__tM9Gj {
    padding-left: 0vw;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
.freeBox__alDgg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px var(--token-E903dIBMc);
}
@media (max-width: 768px) {
  .freeBox__alDgg {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
  }
}
.text__ooJwq {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-murZRIrJA);
  font-size: var(--token-fJm1K7aY_);
  color: var(--token-Y1kFl7CJ7);
  line-height: var(--token-6GDvSmF-K);
  letter-spacing: -0.45px;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding: 5px;
}
@media (max-width: 768px) {
  .text__ooJwq {
    font-size: var(--token-FU8Hni77L);
    text-align: left;
    padding: 0px;
  }
}
.freeBox__yqM5 {
  background: none;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: flex-end;
  flex-shrink: 1;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px var(--token-HEUzmGVCS) 0px var(--token-E903dIBMc);
  margin: 0px;
}
@media (max-width: 768px) {
  .freeBox__yqM5 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__wz786 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 768px) {
  .freeBox__wz786 {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
  }
}
.text__fmuY {
  color: var(--token-Y1kFl7CJ7);
  width: auto;
  text-align: left;
  font-size: var(--token-8Bjial1Fj);
  font-family: var(--token-murZRIrJA);
  line-height: var(--token-ud4wo3PCm);
  letter-spacing: -0.26px;
  padding: 20px 0px;
}
@media (max-width: 768px) {
  .text__fmuY {
    font-size: var(--token-FjcO7F_7o);
    padding: 0px;
  }
}
.smallButton___7Kbng:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 768px) {
  .smallButton___7Kbng:global(.__wab_instance) {
    margin: 0px;
  }
}
.text__uPqsL {
  padding-top: 0px;
  padding-right: 0px;
}
.freeBox__kihbZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
.freeBox__myJt4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px var(--token-E903dIBMc);
}
@media (max-width: 768px) {
  .freeBox__myJt4 {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
  }
}
.text__a2N3 {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-murZRIrJA);
  font-size: var(--token-fJm1K7aY_);
  color: var(--token-Y1kFl7CJ7);
  letter-spacing: -0.45px;
  line-height: var(--token-6GDvSmF-K);
  left: 0px;
  top: 0px;
  z-index: 1;
  padding: 5px;
}
@media (max-width: 768px) {
  .text__a2N3 {
    text-align: left;
    font-size: var(--token-FU8Hni77L);
    padding: 0px;
  }
}
.freeBox__s3N {
  background: none;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: flex-end;
  flex-shrink: 1;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px var(--token-E903dIBMc);
  margin: 0px;
}
@media (max-width: 768px) {
  .freeBox__s3N {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
  }
}
.freeBox__tnKeH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
.text__gCnjp {
  color: var(--token-Y1kFl7CJ7);
  width: auto;
  text-align: left;
  font-size: var(--token-8Bjial1Fj);
  font-family: var(--token-murZRIrJA);
  line-height: var(--token-ud4wo3PCm);
  letter-spacing: -0.26px;
  padding: 20px 0px;
}
@media (max-width: 768px) {
  .text__gCnjp {
    font-size: var(--token-FjcO7F_7o);
  }
}
.smallButton___4LqCo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__nDzhi {
  padding-top: 0px;
  padding-right: 0px;
}
.freeBox__lZfyq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 5vh;
  max-width: 100%;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: -1;
}
