.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-gvQcXRBmf);
  overflow: visible;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (max-width: 640px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.freeBox__fegV8 {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 0;
  z-index: 2;
  right: 0;
  justify-self: flex-start;
  padding: 8px;
}
.menu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__r3Idp {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px;
  margin: 0px;
}
.text__abu6R {
  display: block;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 100%;
  color: #ffffff;
  width: auto;
  flex-grow: 0;
  text-align: center;
  box-shadow: none;
  filter: none;
  transform: none;
  height: auto;
  flex-shrink: 1;
  font-family: "ABC Diatype";
  padding: 0px;
}
@media (max-width: 640px) {
  .text__abu6R {
    font-size: 51px;
    letter-spacing: -0.04em;
    padding-right: 20px;
  }
}
.text__xqggK {
  display: block;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  color: #ffffff;
  width: auto;
  flex-grow: 0;
  text-align: center;
  box-shadow: none;
  filter: none;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  height: auto;
  flex-shrink: 1;
  font-family: "ABC Diatype Mono";
  letter-spacing: -0.02em;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__xqggK {
    font-size: 51px;
    padding-left: 0px;
  }
}
.freeBox___12MOm {
  background: none;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 230px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox___12MOm {
    height: 85vh;
    padding-top: 0px;
  }
}
.freeBox__shUan {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
.text___2Rbld {
  color: var(--token-Y1kFl7CJ7);
  width: auto;
  text-align: left;
  font-size: 20px;
  font-family: "ABC Diatype";
  line-height: 21px;
  letter-spacing: 0.01em;
  padding: 10px;
}
@media (max-width: 640px) {
  .text___2Rbld {
    width: 100vw;
    font-size: 16px;
    color: var(--token-Mq_qSd0gm);
    line-height: 17px;
  }
}
.freeBox__wGxOd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.freeBox__wfs2Y {
  background: none;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 230px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__wfs2Y {
    height: 85vh;
    padding-top: 0px;
    left: auto;
    top: auto;
  }
}
.text___6DS3A {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
}
.freeBox__cjEXv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px 150px 0px 0px;
  margin: 0px;
}
.freeBox__dg8Ve {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__yQr6T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__fQezy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
}
.text__x6O2E {
  color: var(--token-Y1kFl7CJ7);
  text-align: left;
  font-size: 20px;
  font-family: "ABC Diatype";
  line-height: 21px;
  letter-spacing: 0.01em;
  width: auto;
  padding: 10px;
}
@media (max-width: 640px) {
  .text__x6O2E {
    width: 100vw;
    font-size: 16px;
    color: var(--token-Mq_qSd0gm);
    line-height: 17px;
  }
}
.freeBox__p9DFd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.freeBox__tjNMr {
  background: none;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 230px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__tjNMr {
    height: 85vh;
    padding-top: 0px;
    left: auto;
    top: auto;
  }
}
.text__haXv7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
}
.freeBox__onbqv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px 150px 0px 0px;
  margin: 0px;
}
.freeBox__ysm2R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__u7EwO {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
}
.text__cQv9 {
  color: var(--token-Y1kFl7CJ7);
  text-align: left;
  font-size: 20px;
  font-family: "ABC Diatype";
  line-height: 21px;
  letter-spacing: 0.01em;
  width: auto;
  padding: 10px;
}
@media (max-width: 640px) {
  .text__cQv9 {
    width: 100vw;
    font-size: 16px;
    color: var(--token-Mq_qSd0gm);
    line-height: 17px;
  }
}
.freeBox__vwcX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__hRhT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.freeBox___2S9Zv {
  background: none;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 230px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox___2S9Zv {
    height: 85vh;
    padding-top: 0px;
    left: auto;
    top: auto;
  }
}
.text___9MnBc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
}
.freeBox__aDpLn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px 150px 0px 0px;
  margin: 0px;
}
.freeBox__br76G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox___4RMxD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__pzWY {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
}
.text__zl2Ek {
  color: var(--token-Y1kFl7CJ7);
  text-align: left;
  font-size: 20px;
  font-family: "ABC Diatype";
  line-height: 21px;
  letter-spacing: 0.01em;
  width: auto;
  padding: 10px;
}
@media (max-width: 640px) {
  .text__zl2Ek {
    width: 100vw;
    font-size: 16px;
    color: var(--token-Mq_qSd0gm);
    line-height: 17px;
  }
}
.freeBox__ccPsu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.freeBox__cliNj {
  background: none;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 0px 0px 230px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__cliNj {
    height: 85vh;
    padding-top: 0px;
    left: auto;
    top: auto;
  }
}
.text__gxN3H {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
}
.freeBox___8DGj8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.freeBox__sWrzx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px 150px 0px 0px;
  margin: 0px;
}
.freeBox__awa6Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.columns___3IkF {
  --plsmc-rc-col-gap: 0px;
}
.columns___3IkF {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 16px 0px;
}
.columns___3IkF > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___3IkF > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 640px) {
  .columns___3IkF {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns___3IkF > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__aPdgw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text___1EpLg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
}
.column__b7Oju {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___3Mdbh {
  color: var(--token-Y1kFl7CJ7);
  text-align: left;
  font-size: 20px;
  font-family: "ABC Diatype";
  line-height: 21px;
  letter-spacing: 0.01em;
  width: auto;
  padding: 0px;
}
@media (max-width: 640px) {
  .text___3Mdbh {
    width: 100vw;
    font-size: 16px;
    color: var(--token-Mq_qSd0gm);
    line-height: 17px;
  }
}
.columns__hl13E {
  --plsmc-rc-col-gap: 0px;
}
.columns__hl13E {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 16px 0px;
}
.columns__hl13E > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__hl13E > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 640px) {
  .columns__hl13E {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns__hl13E > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__iwTbR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__bAwd4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
}
.column___719Tm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___5Ft3Q {
  color: var(--token-Y1kFl7CJ7);
  text-align: left;
  font-size: 20px;
  font-family: "ABC Diatype";
  line-height: 21px;
  letter-spacing: 0.01em;
  width: auto;
  padding: 0px;
}
@media (max-width: 640px) {
  .text___5Ft3Q {
    width: 100vw;
    font-size: 16px;
    color: var(--token-Mq_qSd0gm);
    line-height: 17px;
  }
}
.columns__kGhJg {
  --plsmc-rc-col-gap: 0px;
}
.columns__kGhJg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 16px 0px;
}
.columns__kGhJg > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__kGhJg > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 640px) {
  .columns__kGhJg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns__kGhJg > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__dsWWl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__oKgqe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: 25px;
  padding-left: 0px;
  color: var(--token-Y1kFl7CJ7);
}
.column__iUows {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__vjDPk {
  color: var(--token-Y1kFl7CJ7);
  text-align: left;
  font-size: 20px;
  font-family: "ABC Diatype";
  line-height: 21px;
  letter-spacing: 0.01em;
  width: auto;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__vjDPk {
    width: 100vw;
    font-size: 16px;
    color: var(--token-Mq_qSd0gm);
    line-height: 17px;
  }
}
.freeBox___3A3If {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px;
}
.imageFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
