.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-gvQcXRBmf);
  overflow: visible;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (max-width: 1280px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
@media (max-width: 834px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
@media (max-width: 414px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.menuStack {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 0;
  z-index: 5;
  right: 0;
  justify-self: flex-start;
  padding: 8px;
}
.menu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 834px) {
  .menu:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .menu:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.buildSystemsHeadline:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}
.freeBox__iedGv {
  background: none;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  flex-shrink: 1;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px var(--token-E903dIBMc);
  margin: 0px;
}
@media (max-width: 1280px) {
  .freeBox__iedGv {
    padding-left: var(--token-bmnU--xfN);
    padding-right: var(--token-bmnU--xfN);
  }
}
@media (max-width: 834px) {
  .freeBox__iedGv {
    padding: 0px var(--token-PMepkn9qf);
  }
}
@media (max-width: 414px) {
  .freeBox__iedGv {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
    height: 50vh;
    align-items: center;
    justify-content: flex-end;
  }
}
.freeBox__nDwJx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
.text__qrqk5 {
  color: var(--token-Y1kFl7CJ7);
  width: auto;
  text-align: left;
  font-size: var(--token-8Bjial1Fj);
  font-family: var(--token-murZRIrJA);
  line-height: var(--token-ud4wo3PCm);
  letter-spacing: -0.26px;
  padding: 10px;
}
@media (max-width: 1280px) {
  .text__qrqk5 {
    font-size: var(--token--sZFyuQ2-);
    line-height: var(--token-wLZ1RMZfP);
    letter-spacing: -0.2px;
  }
}
@media (max-width: 834px) {
  .text__qrqk5 {
    font-size: var(--token-7nxbZRFJ2);
    line-height: var(--token-qwONIKZlU);
  }
}
@media (max-width: 414px) {
  .text__qrqk5 {
    font-size: var(--token-FjcO7F_7o);
    letter-spacing: -0.15px;
    line-height: var(--token-TlsAXG78b);
    padding: 0px;
  }
}
.freeBox___0ZUjb {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  display: none;
  padding: 8px;
}
@media (max-width: 414px) {
  .freeBox___0ZUjb {
    display: flex;
  }
}
.freeBox__slJFt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px var(--token-E903dIBMc);
}
@media (max-width: 1280px) {
  .freeBox__slJFt {
    padding-left: var(--token-bmnU--xfN);
    padding-right: var(--token-bmnU--xfN);
  }
}
@media (max-width: 834px) {
  .freeBox__slJFt {
    padding-right: var(--token-PMepkn9qf);
    padding-left: var(--token-kdOpqIkzK);
  }
}
@media (max-width: 414px) {
  .freeBox__slJFt {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
    height: 40vh;
  }
}
.text___8H29R {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: var(--token-fJm1K7aY_);
  color: var(--token-Y1kFl7CJ7);
  line-height: var(--token-6GDvSmF-K);
  letter-spacing: -0.45px;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  padding: 5px;
}
@media (max-width: 1280px) {
  .text___8H29R {
    font-size: var(--token-iSOd27vCw);
    line-height: var(--token-Oaedkq7zb);
    letter-spacing: -0.45px;
    padding: 11px 0px 0px;
  }
}
@media (max-width: 834px) {
  .text___8H29R {
    font-size: var(--token-5L-YzuaeW);
    line-height: var(--token-T9ROFPJPN);
  }
}
@media (max-width: 414px) {
  .text___8H29R {
    font-size: var(--token-FU8Hni77L);
    letter-spacing: -0.27px;
    line-height: var(--token-v2KdNz0YD);
    padding: 11px 0px 0px;
  }
}
.freeBox__ck3TH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  justify-self: flex-start;
  z-index: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 414px) {
  .freeBox__ck3TH {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
  }
}
.freeBox___7Ju0Z {
  background: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px var(--token-HEUzmGVCS);
}
@media (max-width: 1280px) {
  .freeBox___7Ju0Z {
    padding-left: var(--token-Jku9Krk26);
    padding-right: var(--token-Jku9Krk26);
  }
}
@media (max-width: 834px) {
  .freeBox___7Ju0Z {
    padding-left: var(--token-PMepkn9qf);
    padding-right: var(--token-PMepkn9qf);
  }
}
@media (max-width: 414px) {
  .freeBox___7Ju0Z {
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
  }
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
  --plsmc-rc-col-gap: 40px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 834px) {
  .columns {
    flex-direction: row;
  }
}
@media (max-width: 834px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 834px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
@media (max-width: 414px) {
  .columns {
    height: 100%;
    flex-direction: row;
    min-height: 0;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 0;
    margin-left: calc(0px - 40px);
    width: calc(100% + 40px);
    --plsmc-rc-col-gap: 40px;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 414px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 40px;
    margin-top: 20px;
  }
}
@media (max-width: 414px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xh4E5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 414px) {
  .column__xh4E5 {
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
.projekt__lzDDs:global(.__wab_instance) {
  position: relative;
}
.column__i9Zqv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.projekt__e7GYh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column___9LDDs {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 1280px) {
  .column___9LDDs {
    overflow: visible;
  }
}
.projekt__xsm00:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__qGhBn {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  padding-left: var(--token-E903dIBMc);
  padding-right: var(--token-E903dIBMc);
  padding-bottom: 0px;
  grid-column-start: 1;
  grid-column-end: -1;
  display: none;
}
@media (max-width: 1280px) {
  .freeBox__qGhBn {
    padding-left: var(--token-bmnU--xfN);
    padding-right: var(--token-bmnU--xfN);
  }
}
@media (max-width: 834px) {
  .freeBox__qGhBn {
    padding-right: var(--token-PMepkn9qf);
    padding-left: var(--token-kdOpqIkzK);
  }
}
@media (max-width: 414px) {
  .freeBox__qGhBn {
    padding-left: var(--token-FoMWgon3f);
    padding-right: var(--token-FoMWgon3f);
    height: 40vh;
  }
}
.text__yeopn {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "ABC Diatype";
  font-size: var(--token-fJm1K7aY_);
  color: var(--token-Y1kFl7CJ7);
  line-height: var(--token-6GDvSmF-K);
  letter-spacing: -0.45px;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  padding: 5px;
}
@media (max-width: 1280px) {
  .text__yeopn {
    font-size: var(--token-iSOd27vCw);
    line-height: var(--token-Oaedkq7zb);
    letter-spacing: -0.45px;
    padding: 11px 0px 0px;
  }
}
@media (max-width: 834px) {
  .text__yeopn {
    font-size: var(--token-5L-YzuaeW);
    line-height: var(--token-T9ROFPJPN);
  }
}
@media (max-width: 414px) {
  .text__yeopn {
    font-size: var(--token-FU8Hni77L);
    letter-spacing: -0.27px;
    line-height: var(--token-v2KdNz0YD);
    padding: 11px 0px 0px;
  }
}
.freeBox__cx7Yv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10vh;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px;
}
.imageFooter:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 2;
}
.hiderHeadlines:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
}
@media (max-width: 414px) {
  .hiderHeadlines:global(.__wab_instance) {
    height: 450px;
  }
}
