.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  cursor: pointer;
  padding: 0px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  max-width: 100%;
  background: #ffffff;
  cursor: pointer;
  height: auto;
  border-radius: 4px;
  padding: 5px 15px;
}
.link {
  position: relative;
  display: flex;
  flex-direction: row;
}
.slotTargetChildren {
  font-family: var(--token-murZRIrJA);
  color: var(--token-gvQcXRBmf);
  user-select: none;
}
